body {
	font-family: Roboto, sans-serif;
	margin-left: 0px;
	margin-right: 0px;
}

header  {
	align-items: center;
	background: #0000ff17;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 68px;
 }
    

header a {
	color: #315496;
	display: flex;
    flex-wrap: wrap;
	font-style: normal;
	font-weight: 300;
    font-size: 16px;
	justify-content: space-around;
	line-height: 23px;
	text-align:center;
	text-decoration: none;
}

header a:hover {
	color: #f518ee;
	font-size: 110%;
}

h3 {
	color: #ed143d;
	flex-wrap: wrap;
	font-size: 250%;
    font-style: italic;
    text-align: center;
}

h1 {
	align-items: top;
	color: #6815c3;
	flex-wrap: wrap;
	font-size: 250%;
    font-style: bold;
	line-height: 47px;
    text-align: center;
}



main {
    align-items: center;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	padding: 5%;
	padding-top: 5px;
    padding-bottom: 5px;
}

main div {
	padding-top: 16px;
    padding-bottom: 16px;
	width: 990px;
}

main th {
	color: #a52a2a;
	width: 330px;	
}

main td {
	height: 250px;	
}

h3  {
   	float: right;
	margin-bottom: 10px;
	margin-top: 0px;	
	z-index: 5;
}	

main img {
	float: left;
    padding-bottom: 8px;
	width: 330px;	
	z-index: 5;
}


main p {
	color: #9a3346;
	float: right;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
    width: 550px;
	z-index: 1;
}

footer {
	align-items: center;
	background: #0000ff54;
	border: 2px, solid, #0000ff17;
	color: #ed143d;
	display: flex;
	font-style: italic;
	font-size: 16px;
    justify-content: center;
	height: 70px;
	line-height: 10px;
    text-align: center;
}

section {
	height: 300px;
	counter-reset: count;
	
}

section img {
	height: 96px;
	
}

@keyframes starfall1 {
    0% {
		left: -96px;
		top: 120px;
	}
	50% {
		left: 30%;
		top: 320px;
	}	
    100% {
		left: 93%;
		top: 450px;
	}
}

@keyframes starfall2 {
    0% {
		right: 0px;
		top: 130px;
	}
	70% {
		right: 40%;
		top: 250px;
	}	
    100% {
		right: 100%;
		top: 400px;
	}
}


@keyframes starfall3 {
    0% {
		left: -96px;
		top: 330px;
	}
	30% {
		left: 30%;
		top: 150px;
	}	
	70% {
		left:60%;
		top: 270px;
	}	
    100% {
		left: 93%;
		top: 430px;
	}
}


@keyframes starfall4 {
    0% {
		right: 0px;
		top: 370px;
	}
	40% {
		right: 30%;
		top: 240px;
	}	
    100% {
		right: 100%;
		top: 160px;
	}
}


input[type="checkbox"] {
	position: absolute;
	visibility: hidden;
	left: -99px;
}	

input[type="checkbox"]:checked {
	counter-increment: count;
}	

input[type="checkbox"]:checked + img{
	visibility: hidden;
}	

.star1 {
	position: absolute;
	animation: starfall1 5s ease-in 0s 1 normal;	
}	

.star2 {
	position: absolute;
	animation: starfall2 6s linear 1s 1 normal;	
}	

.star3 {
	position: absolute;
	animation: starfall3 7s linear 3s 1 normal;	
}	

.star4 {
	position: absolute;
	animation: starfall4 5s ease 5s 1 normal;	
}


h2:after {
	content: ' ' counter(count);
	font-size: 200%;
	
}

h2 {
	position: absolute;
	top: 470px;
	float: left;
	font-style: italic;
	color: #F08080;
}	

textarea {
	align-items: center;
	color: #e8217d;
	display: flex;
    flex-wrap: wrap; 
	font-size: 150%;
	font-style: italic;
	text-align: center;
    height: 50px;
	width: 450px;
}

button {
	color: #e8217d;
	font-size: 150%;
	height: 50px;
	width: 450px;
    
}

h4 {
	color: #e8217d;
	font-size: 150%;	
}

#comments {
	display: flex;
    align-items: center;
    justify-content: center;
}